[Desktop Entry]
Name=KDBX
Comment=KRunner plugin for kdbx (KeePassXC) database files
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=planetkde
X-KDE-PluginInfo-Author=vonabarak
X-KDE-PluginInfo-Email=github@vonabarak.ru
X-KDE-PluginInfo-Name=krunner-kdbx
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.krunner_kdbx
X-Plasma-DBusRunner-Path=/runner
